 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dmsans: 'DM Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

.container-fluid{
    height: auto;
    padding: 136px 160px 128px 160px;
    background-color: #FCFCFD;
}
.hot_bid_main{
    width: 100%;
    height: auto;
}
.Hb_top{
    width: 100%;
    height: 48px;
}
.title{
    font-family: var(--dmsans);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
}
.arrow{
    width: 20%;
    height: 100%;
}
.arrow i{
    color: #777E90;
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    font-size: 14px;
 
}
.arrow :nth-child(2){
    border: 2px solid #E6E8EC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hb_buttom{
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 256px);
    grid-template-rows: repeat(1, 450px);


            justify-content: space-between;
    
    
}



.card-img-top{
    width: 256px;
    height: 303px;
    object-fit: cover;
    border-radius: 16px;
    padding: 6px;
    
}
.img2_position1{
    width: 134px;
    height: 40px;
    background-color: #3772FF;
    padding: 12px 16px;
    border-radius: 90px;
    color: white;
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
.img2_position1 img{
    width: 15px;
    height: 17px;
    margin-left: 5px;
}
.card-body{
    padding: 20px 0px;
}
.card{
    border: none;
}
.Amazing{
    width: 100%;
    height: 26px;
    margin: 8px 0px;
}
.Amazing p{
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.badge{
    border-radius: 4px;
    border: 2px solid #45B26B;
    width: 68px;
    height: 26px;
    color: #45B26B;
    font-family: var(--poppins);
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    padding: 6px;
}
.stock{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #353945;
}
.stock_left{
    width: 177px;
    height: 26px;
    position: relative;
    
}
.stock_left img{
    width: 24px;
    height: 24px;
    border-radius: 48px;
    border: 2px solid #FCFCFD;
}

.stock_left :nth-child(1){
    background-color: #9757D7;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.stock_left :nth-child(2){
    background-color: #EF466F;
    position: absolute;
    bottom: 0px;
    left: 16px;
}
.stock_left :nth-child(3){
    background-color: #45B26B;
    position: absolute;
    bottom: 0px;
    left: 32px;
}
.hr{
    border: 1px solid #E6E8EC;
    margin: 7px;
}

.highest_bid{
    height: 100%;
    font-family: var(--poppins);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color:#777E90;
}
.highest_bid img{
    width: 14px;
    height: 15px;
    margin-right: 2px;
}
.fa-chart-candlestick{
    color: #777E90;
    font-size: 15px;
}
.New_bid{
    height: 100%;
    font-family: var(--poppins);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color:#777E90;
}
.Hb_card_purchasing{
    width: 103px;
    height: 26px;
    background-color: #45B26B;
    padding: 6px;
    font-family: var(--poppins);
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    padding: 8px;
    color: white;
    border-radius: 4px;
    position: absolute;
    left: 15px;
    top: 15px;
}
.fa-heart{
    font-size: 20px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: white;
    color: grey;
    padding: 6px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: .2s ease-in-out;
    
}
.fa-heart:hover{
    background-color: grey;
    color: red;
}




        /* Hot Collection Part */

.Next_div{
    width: 100%;
    height: auto;
    padding: 128px 160px 128px 160px;
    background-color: #F4F5F6;  
}
.Hot_collections{
    width: 100%;
    height: auto;
    /* border: 2px solid blue; */
}
.HC_bottom{
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(3, 352px);
    grid-template-rows: repeat(1, 440px);
    justify-content: space-between;
}

.hot_collection_card_image{
    width: 100%;
    height: 240px;
    border-radius: 8px;
    
}
.hc_card_center_image img{
    width: 112px;
    height: 75px;
    border-radius: 8px;
}
.hc_card_center_bottom{
    height: 28px;
    margin-top: 5px;
}

.Awesome_collection{
    font-size: 24px;
    font-family: var(--poppins);
    line-height: 32px;
    font-weight: 600;
    color: #23262F;
}
.hc_card_center_bottom img{
    width: 24px;
    height: 24px;
    background-color: #E6E8EC;
    object-fit: cover;
}

.hc_card_center_bottom_left:nth-child(2){
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: var(--poppins);
}
.span{
    font-weight: 500;
    font-family: var(--poppins);
}
.hc_card_center_bottom_right{
    width: 72px;
    height: 26px;
    padding: 6px;
    border-radius: 4px;
    border: 2px solid #E6E8EC;
    
}
.hc_card_center_bottom_right p{
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    font-family: var(--poppins);
}





    @media screen and (max-width: 576px){
        .container-fluid{
            height: auto;
            padding: 64px 32px 64px 32px;
            background-color: #FCFCFD;
        }
        .Hb_buttom{
            width: 100%;
            height: auto;
            margin-top: 40px;
            display: grid;
            grid-template-columns: (1, 256px);
            grid-template-rows: (1, 450px);
        }

        .block_mobile{
            display: none;
        }
        .block_tablet{
            display: none;
        }

        .Hot_collections{
            position: relative;
        }
        .hc_arrow{
            width: 0%;
            position: static;
        }
        .hc_arrow .fa-solid{
            position: absolute;
            display: flex;
            bottom: -5%;
            left: 50%;
            margin: 0px -40px; 
        }




        
        .Next_div{
            width: 100%;
            height: auto;
            padding: 64px 32px 64px 32px;
            background-color: #F4F5F6;  
        }
        
        .HC_bottom{
            margin-top: 55px;
            display: grid;
            grid-template-columns: repeat(1, 320px);
            grid-template-rows: repeat(1, 440px);
            justify-content: space-between;
        }

        .hc_card_center_image img{
            width: 98px;
            height: 75px;
            border-radius: 8px;
        }
      
    }





    @media screen and (min-width: 576px){
        .container-fluid{
            height: auto;
            padding: 64px 32px 64px 32px;
            background-color: #FCFCFD;
        }
        .Hb_buttom{
            width: 100%;
            height: auto;
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(1, 256px);
            grid-template-rows: repeat(1, 450px);
        }

        .block_mobile{
            display: none;
        }
        .block_tablet{
            display: none;
        }
       
        .Hot_collections{
            position: relative;
        }
        .hc_arrow{
            width: 0%;;
        }
        .hc_arrow .fa-solid{
            position: absolute;
            display: flex;
            bottom: -5%;
            left: 50%;
            margin: 0px -40px; 
        }
       


        .Next_div{
            width: 100%;
            height: auto;
            padding: 64px 32px 64px 32px;
            background-color: #F4F5F6;  
        }
        
        .HC_bottom{
            margin-top: 55px;
            display: grid;
            grid-template-columns: repeat(1, 320px);
            grid-template-rows: repeat(1, 440px);
            justify-content: space-between;
        }

        .hc_card_center_image img{
            width: 98px;
            height: 75px;
            border-radius: 8px;
        }
        
    }



    @media screen and (min-width: 768px){
        .container-fluid{
            height: auto;
            padding: 112px 80px 112px 80px;
            background-color: #FCFCFD;
        }
        .Hb_buttom{
            width: 100%;
            height: auto;
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(3, 266.67px);
            grid-template-rows: repeat(1, 450px);
        }

        .block_mobile{
            display: flex;
        }
        .block_tablet{
            display: none;
        }

       

        .card-img-top{
            width: 100%;
            height: 303px;
            object-fit: cover;
            border-radius: 16px;
            padding: 6px;
            
        }

        .Hot_collections{
            position: static;
        }
        .hc_arrow{
            width: 20%;
            
        }
        .hc_arrow .fa-solid{
            position:static;
            display: flex;
            margin: 0px;
        }


        .Next_div{
            width: 100%;
            height: auto;
            padding: 112px 80px 112px 80px;
            background-color: #F4F5F6;  
        }
        
        .HC_bottom{
            margin-top: 55px;
            display: grid;
            grid-template-columns: repeat(2, 352px);
            grid-template-rows: repeat(1, 440px);
            justify-content: space-between;
        }

        .hc_card_center_image img{
            width: 112px;
            height: 75px;
            border-radius: 8px;
        }
    }

    @media screen and (min-width: 992px){
        .Hb_buttom{
            width: 100%;
            height: auto;
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(3, 266.67px);
            grid-template-rows: repeat(1, 450px);
        }

        .block_mobile{
            display: flex;
        }
        .block_tablet{
            display: none;
        }

        .Next_div{
            width: 100%;
            height: auto;
            padding: 112px 80px 112px 80px;
            background-color: #F4F5F6;  
        }
        .Hot_collections{
            position: static;
        }
        .hc_arrow{
            width: 20%;
            
        }
        .hc_arrow .fa-solid{
            position:static;
            display: flex;
            margin: 0px;
        }

        .HC_bottom{
            margin-top: 55px;
            display: grid;
            grid-template-columns: repeat(2, 352px);
            grid-template-rows: repeat(1, 440px);
            justify-content: space-between;
        }

        .hc_card_center_image img{
            width: 112px;
            height: 75px;
            border-radius: 8px;
        }
    }


    @media screen and (min-width: 1200px){
        .container-fluid{
            height: auto;
            padding: 136px 160px 128px 160px;
            background-color: #FCFCFD;
        }
        .Hb_buttom{
            width: 100%;
            height: auto;
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(4, 256px);
            grid-template-rows: repeat(1, 450px);
        }
        .block_mobile{
            display: flex;
        }
        .block_tablet{
            display: flex;
        }

        .Next_div{
            width: 100%;
            height: auto;
            padding: 128px 160px 128px 160px;
            background-color: #F4F5F6;  
        }

        .HC_bottom{
            margin-top: 55px;
            display: grid;
            grid-template-columns: repeat(3, 352px);
            grid-template-rows: repeat(1, 440px);
            justify-content: space-between;
        }

        .Hot_collections{
            position: static;
        }
        .hc_arrow{
            width:0%;
        
            
        }
        .hc_arrow .fa-solid{
            position:static;
            display: none;
            margin: 0px;
        }
    }


    @media screen and (min-width: 1400px){

        .Hb_buttom{
            width: 100%;
            height: auto;
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(4, 256px);
            grid-template-rows: repeat(1, 450px);
        }

        .block_mobile{
            display: flex;
        }
        .block_tablet{
            display: flex;
        }
        .hc_arrow{
            display: none;
        }


        .Next_div{
            width: 100%;
            height: auto;
            padding: 128px 160px 128px 160px;
            background-color: #F4F5F6;  
        } 

        .HC_bottom{
            margin-top: 55px;
            display: grid;
            grid-template-columns: repeat(3, 352px);
            grid-template-rows: repeat(1, 440px);
            justify-content: space-between;
        }
        
    }